* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', Arial, sans-serif;
    --font3: "Sriracha", Arial, sans-serif;
}

body {
    background-color: blanchedalmond;
    min-width: 400px;
}

html, body {
    background-color: darkgrey;
}

/*HEADER -----------------------------------------------------------------------------------------*/

.cabecalho {
    background-color: black;
    color: white;
    text-align: center;
    
}

.titulo {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font1);
    font-size: 3em;
}

.creditos {
    padding-bottom: 50px;
    font-family: var(--font2);
}

.link {
    text-decoration: none;
    color: rgb(52, 158, 225);
    font-weight: bolder;
    padding: 0px 1px;
}

.link:hover {
    background-color: rgb(201, 201, 201);
    padding: 1px 1px;
    border-radius: 5px;
    color: rgb(206, 112, 5);
}

/*MAIN -----------------------------------------------------------------------------------------*/

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2.5vw;
}

section p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(29, 29, 29);
    color: white;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.469);
}

.imagem p {
    display: inline-block;
    background-color: rgba(33, 33, 33, 0.594);
    
    padding: 10px;
    border-radius: 10px;
    text-shadow: 2px 2px 0px black;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.421);
}

#img01 {
    background: url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
}

#img02 {
    background: url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
}

/*FOOTER -----------------------------------------------------------------------------------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    color: white;

    height: 30px;
}